version: '3.8'

services:
  gateway-service:
    build: 
      context: ./
      dockerfile: GatewayService/Dockerfile
    ports: ["5000:8080"]
    depends_on:
      - auth-service
    environment:
      - Services__AuthService=http://auth-service:5005


  auth-service:
    build: 
      context: ./
      dockerfile: AuthService/Dockerfile
    ports: ["5001:5005", "5002:5004"]
    environment:
      - Jwt__Secret=supersecretkey12345678901234567890
      - Jwt__Issuer=UniversityAuthService
      - Jwt__Audience=UniversityClients
      - Jwt__ExpiryHours=2
      - Ports__Grpc=5005
      - Ports__Http=5004

