version: '3.8'

services:
  gateway-service:
    build: 
      context: ./
      dockerfile: GatewayService/Dockerfile
    container_name: gateway-service
    ports: ["5000:8080"]
    depends_on: [auth-service, user-service, grade-service]
    environment:
      - Services__AuthService=http://auth-service:5005
      - Services__UserService=http://user-service:5005
      - Services__GradeService=http://grade-service:5005
      - Jaeger__Host=jaeger
      - Jaeger__Port=6831


  auth-service:
    build: 
      context: ./
      dockerfile: AuthService/Dockerfile
    container_name: auth-service
    ports: ["5001:5005", "5002:5004"]
    depends_on: [postgres, redis]
    environment:
      - Jwt__Secret=supersecretkey12345678901234567890
      - Jwt__Issuer=UniversityAuthService
      - Jwt__Audience=UniversityClients
      - Jwt__ExpiryHours=2
      - Ports__Grpc=5005
      - Ports__Http=5004
      - ConnectionStrings__PostgreSQL=Host=postgres;Database=universystem-db;Username=user;Password=password
      - ConnectionStrings__Redis=redis:6379

  user-service:
    build: 
      context: ./
      dockerfile: UserService/Dockerfile
    container_name: user-service
    ports: ["5003:5005", "5006:5004"]
    depends_on: [postgres, redis, auth-service]
    environment:
      - Ports__Grpc=5005
      - Ports__Http=5004
      - ConnectionStrings__PostgreSQL=Host=postgres;Database=universystem-db;Username=user;Password=password
      - ConnectionStrings__Redis=redis:6379

  grade-service:
    build: 
      context: ./
      dockerfile: GradeService/Dockerfile
    container_name: grade-service
    ports: ["5007:5005", "5008:5004"]
    depends_on: [postgres, redis, auth-service]
    environment:
      - Ports__Grpc=5005
      - Ports__Http=5004
      - ConnectionStrings__PostgreSQL=Host=postgres;Database=universystem-db;Username=user;Password=password
      - Kafka__Broker=broker-1:9091
      - Graylog__Host=graylog
      - Graylog__Port=12201
      - Jaeger__Host=jaeger
      - Jaeger__Port=6831

  analytics-service:
    build: 
      context: ./
      dockerfile: AnaliticsService/Dockerfile
    container_name: analytics-service
    ports: ["5009:8080"]
    depends_on:
      - postgres
      - broker-1
      - graylog
    environment:
      - ConnectionStrings__PostgreSQL=Host=postgres;Database=universystem-db;Username=user;Password=password
      - Kafka__Broker=broker-1:9091
      - Graylog__Host=graylog
      - Graylog__Port=12201

  redis:
    image: redis:7-alpine
    container_name: redis
    ports: ["6379:6379"]

  postgres:
    image: postgres:latest
    container_name: univer-db
    environment:
      POSTGRES_DB: universystem-db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports: ["5432:5432"]
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  zookeeper:
    image: 'confluentinc/cp-zookeeper:7.3.2'
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_SERVER_ID: '1'
      ZOOKEEPER_SERVERS: 'zookeeper:2888:3888'
      ZOOKEEPER_CLIENT_PORT: '2181'
      ZOOKEEPER_PEER_PORT: '2888'
      ZOOKEEPER_LEADER_PORT: '3888'
      ZOOKEEPER_INIT_LIMIT: '10'
      ZOOKEEPER_SYNC_LIMIT: '5'
      ZOOKEEPER_MAX_CLIENT_CONNS: '5'
      ZOOKEEPER_TICK_TIME: 2000
          
  broker-1:
    image: 'confluentinc/cp-kafka:7.3.2'
    container_name: broker-1
    depends_on:
      - zookeeper
    ports:
      - "29091:29091"
    environment:
      KAFKA_BROKER_ID: '1'
      KAFKA_BROKER_RACK: '1'
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENERS: 'LISTENER_INTERNAL://:9091,LISTENER_LOCAL://:29091'
      KAFKA_ADVERTISED_LISTENERS: 'LISTENER_INTERNAL://broker-1:9091,LISTENER_LOCAL://localhost:29091'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'LISTENER_INTERNAL'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'LISTENER_INTERNAL:PLAINTEXT,LISTENER_LOCAL:PLAINTEXT'
      KAFKA_DEFAULT_REPLICATION_FACTOR: '2'

  broker-2:
    image: 'confluentinc/cp-kafka:7.3.2'
    container_name: broker-2
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: '2'
      KAFKA_BROKER_RACK: '2'
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENERS: 'LISTENER_INTERNAL://:9091,LISTENER_LOCAL://:29092'
      KAFKA_ADVERTISED_LISTENERS: 'LISTENER_INTERNAL://broker-2:9091,LISTENER_LOCAL://localhost:29092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'LISTENER_INTERNAL'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'LISTENER_INTERNAL:PLAINTEXT,LISTENER_LOCAL:PLAINTEXT'
      KAFKA_DEFAULT_REPLICATION_FACTOR: '2'
        
  broker-3:
    image: 'confluentinc/cp-kafka:7.3.2'
    container_name: broker-3
    depends_on:
      - zookeeper
    ports:
      - "29093:29093"
    environment:
      KAFKA_BROKER_ID: '3'
      KAFKA_BROKER_RACK: '3'
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENERS: 'LISTENER_INTERNAL://:9091,LISTENER_LOCAL://:29093'
      KAFKA_ADVERTISED_LISTENERS: 'LISTENER_INTERNAL://broker-3:9091,LISTENER_LOCAL://localhost:29093'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'LISTENER_INTERNAL'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'LISTENER_INTERNAL:PLAINTEXT,LISTENER_LOCAL:PLAINTEXT'
      KAFKA_DEFAULT_REPLICATION_FACTOR: '2'

  jaeger:
    image: jaegertracing/all-in-one:${JAEGER_VERSION:-latest}
    ports:
      - "16686:16686"
      - "6831:6831/udp"

  prometheus:
    image: prom/prometheus
    ports: ["9090:9090"]
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
  
  grafana:
    image: grafana/grafana
    ports: ["3000:3000"]

  graylog:
    image: "graylog/graylog:6.0.2"
    depends_on:
      opensearch:
        condition: "service_started"
      mongodb:
        condition: "service_started"
    entrypoint: "/usr/bin/tini -- wait-for-it opensearch:9200 --  /docker-entrypoint.sh"
    environment:
      GRAYLOG_NODE_ID_FILE: "/usr/share/graylog/data/config/node-id"
      GRAYLOG_PASSWORD_SECRET: ${GRAYLOG_PASSWORD_SECRET:?Please configure GRAYLOG_PASSWORD_SECRET in the .env file}
      GRAYLOG_ROOT_PASSWORD_SHA2: ${GRAYLOG_ROOT_PASSWORD_SHA2:?Please configure GRAYLOG_ROOT_PASSWORD_SHA2 in the .env file}
      GRAYLOG_HTTP_BIND_ADDRESS: "0.0.0.0:9000"
      GRAYLOG_HTTP_EXTERNAL_URI: "http://localhost:9000/"
      GRAYLOG_ELASTICSEARCH_HOSTS: "http://opensearch:9200"
      GRAYLOG_MONGODB_URI: "mongodb://mongodb:27017/graylog"
    ports:
      - "5044:5044/tcp"   # Beats
      - "5140:5140/udp"   # Syslog
      - "5140:5140/tcp"   # Syslog
      - "5555:5555/tcp"   # RAW TCP
      - "5555:5555/udp"   # RAW TCP
      - "9000:9000/tcp"   # Server API
      - "12201:12201/tcp" # GELF TCP
      - "12201:12201/udp" # GELF UDP
      - "13301:13301/tcp" # Forwarder data
      - "13302:13302/tcp" # Forwarder config
    volumes:
      - "graylog_data:/usr/share/graylog/data/data"
      - "graylog_journal:/usr/share/graylog/data/journal"
    restart: "on-failure"

  mongodb:
    image: "mongo:5.0.0"
    volumes:
      - "mongodb_data:/data/db"
    restart: "on-failure"

  opensearch:
    image: opensearchproject/opensearch:2.14.0
    volumes:
      - es_data:/usr/share/opensearch/data
    ports:
      - 9200:9200/tcp
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch
      - action.auto_create_index:true
      - compatibility.override_main_response_version:true
      - discovery.seed_hosts=opensearch
      - cluster.initial_master_nodes=opensearch
      - bootstrap.memory_lock=true # along with the memlock settings below, disables swapping
      - "OPENSEARCH_JAVA_OPTS=-Xms1024m -Xmx1024m" # minimum and maximum Java heap size, recommend setting both to 50% of system RAM
      - "DISABLE_SECURITY_PLUGIN=true"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536

volumes:
  postgres_data:
  mongodb_data:
  graylog_data:
  graylog_journal:
  es_data:

