version: '3.8'

services:
  gateway-service:
    build: 
      context: ./
      dockerfile: GatewayService/Dockerfile
    container_name: gateway-service
    ports: ["5000:8080"]
    depends_on: [auth-service, user-service, grade-service]
    environment:
      - Services__AuthService=http://auth-service:5005
      - Services__UserService=http://user-service:5005
      - Services__GradeService=http://grade-service:5005


  auth-service:
    build: 
      context: ./
      dockerfile: AuthService/Dockerfile
    container_name: auth-service
    ports: ["5001:5005", "5002:5004"]
    depends_on: [postgres, redis]
    environment:
      - Jwt__Secret=supersecretkey12345678901234567890
      - Jwt__Issuer=UniversityAuthService
      - Jwt__Audience=UniversityClients
      - Jwt__ExpiryHours=2
      - Ports__Grpc=5005
      - Ports__Http=5004
      - ConnectionStrings__PostgreSQL=Host=postgres;Database=universystem-db;Username=user;Password=password
      - ConnectionStrings__Redis=redis:6379

  user-service:
    build: 
      context: ./
      dockerfile: UserService/Dockerfile
    container_name: user-service
    ports: ["5003:5005", "5006:5004"]
    depends_on: [postgres, redis, auth-service]
    environment:
      - Ports__Grpc=5005
      - Ports__Http=5004
      - ConnectionStrings__PostgreSQL=Host=postgres;Database=universystem-db;Username=user;Password=password
      - ConnectionStrings__Redis=redis:6379

  grade-service:
    build: 
      context: ./
      dockerfile: GradeService/Dockerfile
    container_name: grade-service
    ports: ["5007:5005", "5008:5004"]
    depends_on: [postgres, redis, auth-service]
    environment:
      - Ports__Grpc=5005
      - Ports__Http=5004
      # - ConnectionStrings__PostgreSQL=Host=postgres;Database=universystem-db;Username=user;Password=password
      # - ConnectionStrings__Redis=redis:6379

  redis:
    image: redis:7-alpine
    container_name: redis
    ports: ["6379:6379"]

  postgres:
    image: postgres:latest
    container_name: univer-db
    environment:
      POSTGRES_DB: universystem-db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports: ["5432:5432"]
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:

